/*---------------------
ENTER FONT
-----------------------*/
/* FONT ISANS */
@font-face {
  font-family: 'isans';
  src: url('../fonts/isans.eot');
  src:
         url('../fonts/isans.ttf')  format('truetype'),
       url('../fonts/isans.woff2') format('woff2'),
       url('../fonts/isans.woff') format('woff');
}
/* font Vazir */
@font-face {
  font-family: 'vazir';
  src: url('../fonts/vazir.eot');
  src:
         url('../fonts/vazir.ttf')  format('truetype'),
       url('../fonts/vazir.woff2') format('woff2'),
       url('../fonts/vazir.woff') format('woff');
}
/* font Vazir bold */
@font-face {
  font-family: 'vazirBlack';
  src: url('../fonts/vazir-Black.eot');
  src:
         url('../fonts/vazir-Black.ttf')  format('truetype'),
       url('../fonts/vazir-Black.woff2') format('woff2'),
       url('../fonts/vazir-Black.woff') format('woff');

}

/* rest css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'vazir' , 'vazirBlack' , 'isans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 h1{
    font-size: 40px;
    margin: 50px 0;
    padding: 10px 0;
    border-bottom: 5px solid #ff5e5e;
 }
.password{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 450px;
}
.password input{
    padding: 10px;
    width: 80%;
    outline: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid #ccc;
    font-family: vazir;
    color: #555;
    font-size: 20px;
}
.icon{ position: absolute; top: 12px; right: 10px; color: #505050; opacity: 0.7; cursor: pointer; font-size: 20px; transition: opacity 0.5s ease-in-out ; -webkit-transition: opacity 0.5s ease-in-out ; -moz-transition: opacity 0.5s ease-in-out ; -ms-transition: opacity 0.5s ease-in-out ; -o-transition: opacity 0.5s ease-in-out ;
}
.icon:hover{
    opacity: 1;
}
.icon .fa-eye-slash{
    display: none;
}

.icon.hide .fa-eye-slash{
    display: block;
}
.icon.hide .fa-eye{
    display: none;
}
